.nav_wrapper {
    margin: 0 auto;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.Nav {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;

    .logo {
        margin-right: 30px;
        @font-face {
            font-family: SF;
            src: url(../../SFProText.ttf);
        }
        font-size: 40px;
        color: #1A81FF;
        cursor: pointer;
        text-decoration: none;
        transition: all .4s ease-in;
        &:hover {
            opacity: .6;
            transform: scale(1.03);
        }
    }

    .menu {
        display: none;
        cursor: pointer;
        &:hover {
            opacity: .6;
        }
    }
}

.dropdown {
    display: flex;
    flex-wrap: wrap;
    height: 0;
    transform: translateX(-200%);
    transition: all .4s ease-in-out;

    div, a[data-btn] {
        display: none;
    }
}

.dropdown.active {
    padding-top: 20px;
    height: auto;
    transform: translateX(0);

    div, a[data-btn] {
        display: flex;
    }
}

@media (max-width:518px) {
    .Nav {
        div, a[data-btn] {
            display: none;
        }
        .menu {
            display: block;
        }
    }
}

@media (min-width:517px) {
    .dropdown {
        display: none;
    }
}
