.Btn {
    margin: 4px 0;
    padding: 13px 30px;
    display: flex;
    align-items: center;
    max-height: 50px;
    border: none;
    border-radius: 8px;
    background: #0084ff42;
    font-family: inherit;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;
    color: #0084FF;
    text-decoration: none;
    
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: all .4s ease-in;
    &:hover, &:focus {
        background: #0084FF;
        box-shadow: 0px 85px 77px rgba(0, 132, 255, 0.1), 0px 50.048px 40.1632px rgba(0, 132, 255, 0.07232), 0px 25.704px 18.8496px rgba(0, 132, 255, 0.05616), 0px 10.336px 8.2544px rgba(0, 132, 255, 0.04384), 0px 2.312px 3.5728px rgba(0, 132, 255, 0.02768);
        color: #fff !important;
    }

    box-icon {
        margin-left: 5px;
    }
}

.Btn[data-main] {
    background: #fff;
    color: #0084FF;
    &:hover {
        color: #0084FF !important;
        box-icon {
            transform: translateX(8px);
        }
    }
}



@media (max-width:1011px) {
    .Btn {
        margin: 6px;
        padding: 6px 20px;
        font-size: 12px;
    }
}