.Header {
    margin: 0 auto 0;
    padding-top: 80px;
    display: flex;
    align-items: center;
    background: url(../../img/header_bg.jpg);
    background-attachment:fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;


    .blure {
        display: flex;
        align-items: center;
        padding-bottom: 40px;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.163);
        backdrop-filter: blur(25px);
    }
    .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 1920px;
    }

    .row {
        display: flex;
    }

    .hero {
        margin-top: 40px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 600px;
        width: 100%;
        background-color: #1A81FF;
        border-radius: 15px;
    }

    .title {
        margin-bottom: 25px;
        font-weight: 600;
        font-size: 62px;
        line-height: 1.3;
        text-align: left;
        color: #fff;
        text-shadow: 0.3px 3px 50px rgb(30, 30, 30);
    }
    .disc {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 1.5;
        text-align: left;
        color: #fff;
    }
}

button a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.animation {
    padding-bottom: 150px;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-size: contain;

    #coin1 {
        position: absolute;
        width: 2vw;
        left: 25%;
        top: -151px;
        animation: spin .5s infinite linear;
    }
    #coin2 {
        position: absolute;
        width: 4vw;
        top: -151px;
        left: 34%;
        animation: spin .62s infinite linear;
    }
    #coin3 {
        position: absolute;
        top: -51;
        left: 10%;
        width: 5vw;
        animation: spin .38s infinite linear;
    }
    #coin4 {
        position: absolute;
        top: -151px;
        left: 18%;
        width: 4vw;
        animation: spin .34s infinite linear;
    }
    #coin5 {
        position: absolute;
        top: -151px;
        left: 40%;
        width: 4vw;
        animation: spin .4s infinite linear;
    }
    #coin6 {
        position: absolute;
        top: -151px;
        left: 50%;
        width: 4vw;
        animation: spin .555s infinite linear;
    }
    #coin7 {
        position: absolute;
        top: -151px;
        left: 30%;
        width: 4vw;
        animation: spin .5s infinite linear;
    }
    #coin8 {
        position: absolute;
        top: -151px;
        left: 70%;
        width: 4vw;
        animation: spin .49s infinite linear;
    }
    #coin9 {
        position: absolute;
        top: -151px;
        left: 75%;
        width: 4vw;
        animation: spin .4s infinite linear;
    }
    #coin10 {
        position: absolute;
        top: -151px;
        left: 10%;
        width: 4vw;
        animation: spin .72s infinite linear;
    }
    #coin10 {
        position: absolute;
        top: -151px;
        left: 10%;
        width: 4vw;
        animation: spin .4s infinite linear;
    }
    #hand {
        bottom: 0;
        width: 12vw;
    }
}

.chart {
    margin-right: 40px;
    width: 44vw;
    max-width: 300px;
    max-width: 600px;
    border-radius: 8px;
    -webkit-box-shadow: 9px 5px 32px 1px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 9px 5px 32px 1px rgba(34, 60, 80, 0.6);
    box-shadow: 9px 5px 32px 1px rgba(34, 60, 80, 0.6);
}

@keyframes spin {
    0% {
      transform: translate3d(0, 0%, 0);
    }
    25% {
      transform: translate3d(0, 10px, 0);
    }
    50% {
      transform: translate3d(0, 50px, 0);
    }
    75% {
      transform: translate3d(0, 150px, 0);
    }
    100% {
      transform: translate3d(0, 500px, 0);
    }
}


@media (max-width:993px) {
    .Header {
        .title {
            margin-bottom: 20px;
            font-size: 42px;
        }
        .row ~ .row {
            flex-direction: column;
        }
    }
}
@media (max-width:617px) {
    .Header {
        margin-top: 40px;
        padding: 40px 0 0;
        height: auto;

        .title {
            margin-top: 40px;
            margin-bottom: 5px;
            font-size: 32px;
        }
        .row {
            flex-direction: column;
        }
        video {
            margin: 0 0 20px 0;
            width: 100%;
        }
    }
}